@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    For any question<br />
    Send e-mail, furkan_song94@hotmail.com<br />
    <abbr title="Phone">P:</abbr>
    539.377.80.87
</address>

<address>
    <strong>Support:</strong> <a href="Furkaninflames94@gmail.com">Furkaninflames94@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="CameOnSupporters@gmail.com">CameOnSupporters@gmail.com</a>
</address>
